.want-commodity-detail{
  position: absolute;
  top: 0px;
  left: 0px;
  height:60%;
  width:100%;
  background-color: red;
}
.want-commodity-detail-content {
  position: absolute;
  z-index: 101;
  margin-left:50px;
  margin-top:50px;
  height: 1000px;
  margin-bottom: 50px;
  background-color: yellow;
  opacity: 1;
}


