@import "../mainPage.less";

.want-shop-brief{
  float:left;
  width: 330px;
  height: 330px;
}

.want-shop-innerbox{
  width: 328px;
  height: 328px;
  margin: 0.5px;
  background-color: white;
}

.want-shop-position{
  width: 200px;
  height: 200px;
  position: absolute;
  margin: 44px 64px 54px 64px;
  text-align: center;
  img{
    height: 100%;
  }
}

.want-shop-mask{
  .main-duration;
  position: absolute;
  width: 328px;
  height: 328px;
  background-color: black;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  &:hover{
    opacity: 0.4;
  }
}

.want-shop-name{
  width: 100%;
  height: 30px;
  line-height: 30px;
  opacity: 0.4;
}