@import "./shop/index.less";
@import "./commodity/index.less";
@import "public/index.less";

body{
  background-color: #F2F2F2;
}
body.lock{
  overflow:hidden;
}
.want-background-mask{
  position: fixed;
  z-index: 99;
  left:0px;
  top:0px;
  display:none;
  height: 100vh;
  width:100vw;
  background-color: darkslategray;
  opacity: 0.5;
}