.want-banner-position{
  width: 1320px;
  height: 330px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.want-banner-img{
  width: 1320px;

}

.want-banner-size{
  width: 1320px;
  height: 330px;
  position: absolute;
}

.want-banner-mask{
  width: 1320px;
  height: 330px;
  background-color: black;
  position: absolute;
}

.banner-mask-duration {
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s; /* Firefox 4 */
  -webkit-transition-duration: 0.2s; /* Safari 和 Chrome */
  -o-transition-duration: 0.2s; /* Opera */

  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
}

.want-mask-opacity-light{
  .banner-mask-duration;
  opacity:0.2;
}

.want-mask-opacity-dark{
  .banner-mask-duration;
  opacity:0.4;
}

.want-banner-inner{
  width: 1320px;
  letter-spacing: 10px;
  font-size: 30px;
  position: absolute;
  z-index: 2000px;
  color: white;
  line-height: 330px;
  text-align: center;
  cursor: pointer;
}
