.mask-duration {
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s; /* Firefox 4 */
  -webkit-transition-duration: 0.2s; /* Safari 和 Chrome */
  -o-transition-duration: 0.2s; /* Opera */

  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
}



.want-mask{
  .mask-duration;
  width: 400px;
  height: 400px;
  background-color: white;
  position: absolute;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  font-size: 20px;
}

.want-mask-hover{
  .mask-duration;
  width: 400px;
  height: 400px;
  background-color: white;
  position: absolute;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
  font-size: 20px;
}


.want-mask-inner{
  .mask-duration;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 163px;
}

.want-mask-inner-hover{
  .mask-duration;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
}



@media (max-width:1360px) {
  .want-mask{
    width: 347px;
    height: 347px;
  }

  .want-mask-hover{
    .mask-duration;
    width: 347px;
    height: 347px;
  }
}

